<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Advanced React Application Example</title>
</head>

<body>
  <div id="root">
    <%- initialContent -%>
  </div>
  <!-- use webpack to package our index.js (whole application) into bundle.js and we use that in here.
  We going to place bundle.js inside the public directory-->
  <script src="/bundle.js" charset="utf-8"></script>
</body>

</html>
